<div class="grid grid-cols-1 md:grid-cols-5">
  <div class="col-span-3">
    <ul>
      <li>
        <div>
          <h3>Active Pick ups</h3>
          <ul>
            @for (item of pickUps.value()?.data?.items; track item.id) {
              <li>
                {{item.date}}
              </li>
            }
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-span-2">
    <form [formGroup]="newPickUpForm">
      <div>
        <h2>New Pick Up</h2>

        <div>
          <brn-select
            class="inline-block"
            placeholder="Select an option"
            id="wasteType"
            name="wasteType"
            (valueChange)="typeOnChange($event)"
          >
            <hlm-select-trigger class="w-56">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              @for (item of wasteTypes.value()?.data?.items; track item.id) {
              <hlm-option [value]="item.id">{{ item.name }}</hlm-option>
              }
            </hlm-select-content>
          </brn-select>
        </div>

        <div>
          <label hlmLabel for="pickupDate">Pick Up Date:</label>
          <hlm-calendar
            [(date)]="newPickUpForm.value.pickupDate"
            [min]="minDate"
            [max]="maxDate"
            id="pickupDate"
            name="pickupDate"
            (dateChange)="dateChange($event)"
          />
        </div>

        <div>
          <label hlmLabel for="pickupTime">Pick Up Time:</label>
          <input
            hlmInput
            type="time"
            id="pickupTime"
            name="pickupTime"
            required
            min="09:00"
            max="16:00"
            (change)="timeChange($event.target)"
          />
        </div>

        <!-- {{.strigyfy(newPickUpForm.errors)}} -->
        <div>
          <button 
            (click)="onSubmit()"
            hlmBtn type="submit">
            Schedule Pick Up
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<hlm-toaster />